body {
  width: 75%;
  margin: auto;
  font-family: 'Delius', cursive;
  background-color: lightsteelblue;

}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header .container ul li {
  display: inline-block;
}

header .container ul {
  word-spacing: 5px;
}